<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="usuario_db" serializeAs="String">
                <value>system</value>
            </setting>
            <setting name="contrasenia_db" serializeAs="String">
                <value>oracle</value>
            </setting>
            <setting name="rol" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="empleado1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="agencia" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="equipo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="empleado" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="id_empledo" serializeAs="String">
                <value>-1</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="nombre_db" serializeAs="String">
                <value>//35.223.254.79/XE</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </applicationSettings>
</configuration>